/**
General
**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  background-color: #d9d9d9;
  flex-direction: column;
  height: 100%;
}

/* #region header */
header {
  text-align: center;
  margin-bottom: 3%;
}

#phonebook {
  width: 7%;
}

#alobook {
  flex: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Book {
  text-align: right;
  margin-left: 70%;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

/* #endregion */


/* #region numberslist */
main {
  display: flex;
  justify-content: center;
  flex-grow: 1;

}

#wrapper {
  background-color: white;
  width: 65%;
  height: auto;
  text-align: center;
  border-radius: 2em;
  border: black solid 1.5px;
}


/* Search*/
#top_of_ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#top_of_ul div {
  flex: 30%;
  display: flex;
  justify-content: center;
}

#SearchBar {
  align-items: center;
  justify-content: center;
}

#SearchBar>input {
  height: 2.5rem;
  width: 70%;
  border-radius: 1.5em;
  border-color: #D9D9D9;
  text-align: center;
}


/*rows*/
.User {
  justify-content: space-around;
  display: flex;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  flex-wrap: wrap;
}

/*top of ul*/

#add_user button,
#delete_all button {
  background: none;
  border: none;
  width: 70px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#delete_all button:hover {
  cursor: pointer;
}

#add_user button:hover {
  cursor: pointer;

  #add_user {
    animation: rotation 1.5s;
  }

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#add_user {
  width: 20px;
}



/*ul*/
ul {
  list-style-type: none;
}

.frame {
  color: rgb(0, 0, 0, 0.60);
  font-size: 1.2em;
  font-weight: bold;
  border-top: solid;
}

/*user*/
.user_info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user_img {
  width: 6rem;
  border-radius: 50%;
}

.user_name {
  width: 10rem;
}

.user_settings,
.number {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*user_settings*/
.user_settings {
  gap: 2rem;
}

.info_settings {
  background: none;
  border: none;
}

.info_settings:hover {
  cursor: pointer;
}











/*add*/




/* #endregion */


/* #region footer */

footer {
  margin-top: 1%;
  gap: 1%;
  text-align: center;
}

/* #endregion */







#popup {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.7);
  display: none;
  /*/*/
  /*/*/

}

/*delete ask */

#ask_delete {
  width: 20rem;
  height: 10rem;
  background: white;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  display: none;
}

#ask_delete p {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;


}

#checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  gap: 10px;
  height: 2rem;
}

#ask_delete div {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

#ask_delete button {
  height: 2rem;
  width: 5rem;
  border: 0.5px black solid;
  border-radius: 2rem;

}

#confirm:hover {
  background: red;
  cursor: pointer;
  transition: background 0.5s;
}

#cancel:hover {
  background: rgb(11, 222, 11);
  cursor: pointer;
  transition: background 0.5s;
}


/*more_user_info*/

#more_user_info {
  width: 60%;
  height: 80%;
  background: white;
  border-radius: 1rem;
  display: none;
}

#img_name {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}


#phone_email {
  margin-top: 2rem;
  margin-left: 2rem;
}

#phone_email div {
  margin-bottom: 8px;
}